/*
Valeurs relatives de taille

xx-small  : minuscule ;

x-small  : très petit ;

small  : petit ;

medium  : moyen ;

large  : grand ;

x-large  : très grand ;

xx-large  : euh… gigantesque.


taille en em

Si vous écrivez 1em  , le texte a une taille normale.

Si vous voulez grossir le texte, vous pouvez inscrire une valeur supérieure à 1, comme 1.3em  .

Si vous voulez réduire le texte, inscrivez une valeur inférieure à 1, comme 0.8em
*/

#conteneur {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.element_1 {
    width: fit-content;
    background-color: orange;
    color: black;
    padding: 15px;
}

.element_2 {
    width: fit-content;
    background-color: blue;
    color: black;
    padding: 15px;
}

.element_3 {
    width: fit-content;
    background-color: green;
    color: black;
    padding: 15px;
}

.justify-test {
    width: 350px;
    /*overflow: auto;  créer un scrollbar sir le texte dépasse du cadre au lieu de le faire sortir ou on peux forcer la césure avec word-wrap: break-word;*/
    border: 1px solid black;
    text-align: justify; /* Justifier le texte dans le cadre*/
    padding: 8px; /* padding = marge intérieure*/
    margin: auto; /* auto pour centrer // margin = marge extérieure */
    margin-bottom: 20px;
}


/*
ajouter une police personalisée 
*/
@font-face {
    font-family: 'police1';
    src: url('../documents/polices/Storytime.ttf');
}



/* On travaille sur la balise body, donc sur TOUTE la page */
body
{
    background-color: rgb(58, 58, 58); /* Le fond de la page sera noir */
    color: white; /* Le texte de la page sera blanc */
}


.colorbtn:active {
    background-color: #FFCC66;
    color: #FFCC66;
}


.boutton:hover { /* Apparence au survol des liens */
    text-decoration: underline;
    color: green;
}



.imageflottante
{
    float: left;
}
.dessous
{
    clear: both;
}


p {
    color: white;
    font-size: 16px;
}

:link {
    color: purple;
    border-left: 2px solid white;
    border-right: 2px solid white;
}

h1 {
    font-family: police1;
    font-weight: bold;
    text-align: center;
    color: white;
    font-size: 2.5em;

    border: 3px blue dashed;
    border-radius: 10px;
    box-shadow: 6px 6px 6px black;
}



/* 
un point pour les class
*/
.titre {
    color: yellowgreen;
}


/* 
un # pour les id
*/
#fichier {
    color: mediumseagreen;
}